<%- include('../partials/header') %>

<table id="recipe-list">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Ingredients:</th>
      <th>Instructions:</th>
      <th>Diet:</th>
      <th>Gluten Free:</th>
    </tr>
  </thead>
  <tbody>
    <% recipes.forEach(function(r) { %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.ingredients %></td>
        <td><%= r.instructions %></td>
        <td><%= r.diet %></td>
        <td><%= r.glutenFree ? 'Yes' : 'No' %></td>
        <% }); %>
    </tbody>
  </table>
  <a href="/recipes/new">Add Recipe</a>

<%- include('../partials/footer') %>

    