<%- include('../partials/header') %>

<table id="recipe-list">
  <thead>
    <tr>
      <th>Title:</th>
      <th></th>
      <th>Ingredients</th>
      <th>Instructions</th>
      <th>Diet</th>
    </tr>
  </thead>
  <tbody>
    <% recipes.forEach(function(r) { %>
      <tr>
        <td><%= r.title %></td>
        <td><%=  r.ingredients %></td>
        <td><%=  r.instructions %></td>
        <td><img src="<%= r.pic %>"></td>
        <td><%= r.diet %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/recipes/new">Add Recipe</a>

<%- include('../partials/footer') %>

    